<div class="spend-view-table-container">
    <p>
        <mat-toolbar color="secondary">
          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> -->
          <span>Finance App</span>
          <span class="example-spacer"></span>
        </mat-toolbar>
      </p>
    <div class="button-container">
        <div class="label">View Spend By : </div>
        <div class="main-toggle">
            <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" [formControl]="toggle" aria-label="Font Style" selected="'month'">
                <mat-button-toggle value="month">Month</mat-button-toggle>
                <mat-button-toggle value="payment-type">Payment Type</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Month Column -->
        <ng-container *ngIf="selectedToggle === 'month'" matColumnDef="Month">
          <th mat-header-cell *matHeaderCellDef> Month </th>
          <td mat-cell *matCellDef="let element"> {{element.by_month}} </td>
        </ng-container>

        <!-- Month Column -->
        <ng-container *ngIf="selectedToggle === 'payment-type'" matColumnDef="Payment_Mode">
          <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
          <td mat-cell *matCellDef="let element"> {{element.by_paymenttype}} </td>
        </ng-container>
      
        <!-- Customer_Number Column -->
        <ng-container matColumnDef="Customer_Number">
          <th mat-header-cell *matHeaderCellDef> Customer Number </th>
          <td mat-cell *matCellDef="let element"> {{element.customer_number}} </td>
        </ng-container>
      
        <!--Total_Incoming -->
        <ng-container matColumnDef="Total_Incoming">
          <th mat-header-cell *matHeaderCellDef> Total Incoming </th>
          <td mat-cell *matCellDef="let element"> {{element.total_incomming}} </td>
        </ng-container>
      
        <!-- Total_Outgoing -->
        <ng-container matColumnDef="Total_Outgoing">
          <th mat-header-cell *matHeaderCellDef> Total Outgoing </th>
          <td mat-cell *matCellDef="let element"> {{element.total_outgoing}} </td>
        </ng-container>

        <!-- Closing_Balance -->
        <ng-container matColumnDef="Closing_Balance">
          <th mat-header-cell *matHeaderCellDef> Closing Balance </th>
          <td mat-cell *matCellDef="let element"> {{element.closing_balance}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="selectedToggle === 'month' ? displayedColumns_byMonth: displayedColumns_byPaymentTType "></tr>
        <tr mat-row *matRowDef="let row; columns: selectedToggle === 'month' ? displayedColumns_byMonth: displayedColumns_byPaymentTType;"></tr>
      </table>
      
</div>