.spend-view-table-container{
    background-color: #fefefe;
    width: 100%;

    @media screen and(max-width: 1024px) {
        // margin: 0 40px;
    }
    .mat-toolbar {
        span {
            width: 100%;
            max-width: 1170px;

            @media screen and (min-width: 1023px) {
                margin-left: 31px;
            }
        }
       
        background: #2C2E43;
        color: #fefefe;
    }

    table {
        // width: 1170px;
        width: 100%;
        max-width: 1170px;
        margin: 50px auto;

        .mat-header-cell  {
            background-color: 	rgb(255,165, 0.3);
            color: #2C2E43;
        }

    }
    .button-container {
        max-width: 1170px;
        margin: 25px auto;
        padding: 0 10px;

        .label {
            margin-bottom: 15px;
        }
    }
    .mat-button-toggle-checked {
        background-color: #2c2e43;
        color: #fefefe;
    }
    
}


